# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.swp
*.swo
*.db

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.pid
*.log
media/
static/

# Virtual Environment
App/
.App/

*.env

# Database
*.sqlite3

# Django migrations
**/migrations/*
!**/migrations/__init__.py

# System Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Coverage reports
.coverage
nosetests.xml
coverage.xml
*.cover
*.hypothesis/

# Django secret keys or other sensitive data
*.env
*.secrets