<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>TICKR</title>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css' rel='stylesheet'>
  {% load static %}
  <link href="{% static 'css/globals.css' %}" rel="stylesheet">
  <link href="{% static 'css/insights.css' %}" rel="stylesheet">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  {% include 'components/_nav.html' %}
  <div class='insights-body'>
    <div class='insights-company'>
      <div class='insights-company-brand'>
        {% if company.logo %}<img src='{{ company.logo }}' alt='' class='insights-company-logo'>{% endif %}
        <h1 class='insights-company-name'>
          {{ company.name }} - ({{ company.symbol }})
          {% if company.sector %}
          <small class='insights-sector'>{{ company.sector|upper }}</small>
          {% endif %}
        </h1>
      </div>
      {% if company.bio %}
      <p>{{ company.bio }}</p>
      {% endif %}
    </div>
    <div class='insights-container'>
      <div id="price-over-time" class='insights-chart'></div>
      <script type="text/javascript">
          var chartData = {{ chart|safe }};
          Plotly.newPlot('price-over-time', chartData);
      </script>
    </div>
  </div>
</body>
</html>
