/* Styling for insights.html */

:root {
    --prim: #e2e2e2;
    --sec: #2e2e2e;
    --col: #558e79;
}

.insights-body {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    color: var(--prim);
}

.insights-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 45vw;
    overflow-y: scroll;
    overflow-x: hidden;
}
.insights-company {
    width: 45vw;
}

.insights-company-brand {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 16px;
}

.insights-company-logo {
    height: 100px;
    width: 100px;
    object-fit: fill;
    align-self: center;
}

.insights-company-name {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: xx-large;
}

.insights-sector {
    font-size: large;
    text-align: center;
}

.insights-chart {
    width: 100%;
    min-width: 350px;
    aspect-ratio: 16 / 9;
    overflow: scroll;
}